{% extends 'base.html.twig' %}

{% block title %}Skills18{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.name, {'attr':{'class': "width"}}) }}
    {{ form_row(form.email, {'attr':{'class': "width"}}) }}
    {{ form_row(form.plainPassword.first, {'attr':{'class': "width"}}) }}
    {{ form_row(form.plainPassword.second, {'attr':{'class': "width"}}) }}
<button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}